@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
:root {
  --bg: #1d2a35;
  --mainText: #fff;
}
body {
  background-color: var(--bg);
  font-family: "Jua", sans-serif;
  color: var(--mainText);
}
main{
  margin-top: 5rem;
}
.subTopic{
  text-align: center;
  padding: 1rem;
  font-size: 32px;
}
h2 {
  font-weight: bold;
}
p {
  font-weight: 700;
  font-size: 24px;
}
ul,
li {
  list-style: none;
}
ul li:nth-child(even) .a {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
}
ul li:nth-child(3n) .a {
  transform: rotate(-3deg);
  position: relative;
  top: -5px;
}
ul li .a:hover,
ul li .a:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}
ul li:nth-child(5n) .a {
  transform: rotate(5deg);
  position: relative;
  top: -10px;
}
ul li:nth-child(even) .a {
  position: relative;
  top: 5px;
  background: #141e30;
}
ul li:nth-child(3n) .a {
  position: relative;
  top: -5px;
  background: rgb(40, 40, 41);
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}
ul li .a {
  text-decoration: none;
  background: #243b55ff;
  display: block;
  height: auto;
  width: 23em;
  padding: 1em;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  transform: rotate(-6deg);
  transition: transform 0.15s linear;
}
@media screen and (max-width: 767px) {
  ul li .a {
    text-decoration: none;
    background: #243b55ff;
    display: block;
    height: auto;
    width: 13em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    transform: rotate(-6deg);
    transition: transform 0.15s linear;
  }
}
ul li {
  margin: 1em;
}
.sideNav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  font-family: "Jua", sans-serif;
  padding-top: 20px;
}
.sideNav h1{
    text-align: center;
    color: white;
    padding: 1rem;
    font-size: 32px;
}
.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sideNav a:hover {
  color: #f1f1f1;
}
.sideNav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  font-family: "Jua", sans-serif;
  margin-left: 50px;
}
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}
.navbar {
  overflow: hidden;
  background-color: #111;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  font-family: "Jua", sans-serif;
}
.navbar a {
  float: left;
  font-size: 12px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}
.navbar {
  display: none;
}
.dropbtn {
  background-color: #141e30;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;

}
.dropbtn:hover,
.dropbtn:focus {
  background-color: rgb(21, 61, 88);
}
.dropdown {
  position: relative;
  display: inline-block;
  font-family: "Jua", sans-serif;
}
.dropdown-content {
  font-family: "Jua", sans-serif;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.show {
  display: block;
  position: fixed;
  z-index: 99;
}
@media screen and (max-width: 450px) {
  .navbar {
    display: block;
  }
  .sideNav {
    display: none;
    width: 150px;
  }
  main {
    margin-left: 0;
  }
  .sideNav h1,
  a {
    text-align: left;
    font-size: 18px;
  }
}
