@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
h1 {
  text-align: center;
  color: white;
  padding: 1rem;
}
body {
  font-family: "Jua", sans-serif;
  background-color: #1d2a35;
}
section {
  padding: 2rem;
}
* {
  margin: 0;
  padding: 0;
  color: #fff;
}
h2 {
  font-weight: bold;
}
p {
  font-weight: 700;
  font-family: "Jua", sans-serif;
  font-size: 24px;
}
ul,
li {
  list-style: none;
}
ul li:nth-child(even) .a {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
}
ul li:nth-child(3n) .a {
  transform: rotate(-3deg);
  position: relative;
  top: -5px;
}
ul li .a:hover,
ul li .a:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}
ul li:nth-child(5n) .a {
  transform: rotate(5deg);
  position: relative;
  top: -10px;
}
ul li:nth-child(even) .a {
  position: relative;
  top: 5px;
  background: #141e30;
}
ul li:nth-child(3n) .a {
  position: relative;
  top: -5px;
  background: rgb(40, 40, 41);
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}
ul li .a {
  text-decoration: none;
  color: #000;
  background: #243b55ff;
  display: block;
  height: 12em;
  width: 12em;
  padding: 1em;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  transform: rotate(-6deg);
  transition: transform 0.15s linear;
}
ul li {
  margin: 1em;
}
table,
th,
td {
  border: 1px solid rgb(255, 255, 255);
}
span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.site-footer {
  background-color: #141e30;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer h6 {
  text-align: center;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
